header {
	background: url('../images/beans.jpg') no-repeat;
	position: relative;
	background-size: 100% auto;
	height: 17.5em;
	width: 100%;
}
#container {
	width: 62em;
	margin: auto;
	max-width: 100%;
}
.beansimage {
	width: 100%;
	text-align: center;
}

.beanslogo {
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top: 2em;
}

nav {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	background-color: #1F0F00;
	font-size: 22px;
	line-height: 40px;
}
	li.nav {
		display: inline;
		margin-right: 14px;
			}
		a {
			text-decoration: none;
			color: #C2A385;
		}
}
#content {
}

.paratitle {
	text-align: center;
	color: #3D1F00;
	font-size: 20px;
	font-weight: bold;
	font-family: Tahoma;
}
p {
	text-align: center;
	font-size: 16px;
	font-family: georgia;
	color: #3D1F00;
}
#organic, #coffeebar {
	padding-top: 1em;
	display: inline-block;
	width:35%;
	margin-left: 10%;
	padding-bottom: 3em;
}
footer {
	margin: auto;
	padding-top: 4em; 
	text-align: center;
	font-family: georgia;
	font-size: 16px;
	color: #C2A385;
	height: 100px;
	width: 100%;
	background-color: #1F0F00;
}