	
body {
	margin-top: 0;
}
#blog-image {
	margin-left: 2em;
	float: left;
}
#nav-links {
	font-family: arial, verdana, sans-serif;
	font-size: 13px;
	float: right;
	margin-right: 1.25em;
	margin-top: 4.5em;

}
	li.nav {display: inline;
		margin-right: 0.63em;
	}
a { 
	text-decoration: none;
	color: black;
}
#nav {
	border-bottom: 3px solid #000;
	background-color: #fff;
	position: fixed;
	width: 100%;
}
#article-titles {
	top: 12.5em;
	position: fixed;
	font-size: 13px;;
	width: 20%;
		}
		li {
			display: block;
			margin-bottom: 0.63em;
			margin-left: 0;
			font: bolder;
			padding-right: 2.25em;
		}
		
#main {
			display: block;
			float: right;
			width: 30%;
			padding-right: 37.5em;
			padding-top: 7.81em;
		}

h1 {
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
	font: bolder;
	bottom: 0;
	margin: 0;
}
h2 {
	font-family: Tahoma, geneva, sans-serif;
	font-size: 18px;
	margin: 0;
	text-transform: uppercase;
}
p {font-family: Arial, verdana, sans-serif;
	font-size: 11px;
	margin-bottom: 1.56em;
}


